# .env.example

# MongoDB Configuration
MONGO_DB_URI=mongodb://<username>:<password>@localhost:27017/<dbname>

# JWT Configuration
JWT_SECRET=<your_jwt_secret>
JWT_EXPIRES_IN=<your_jwt_expiration_time>

# API Configuration
API_BASE_URL=<your_api_base_url>